.login-container {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  height: 100vh;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0px;
  z-index: 2;
 
}
.cut-page-btn {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.login-register {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.login-register .login-text {
  font-size: 22px;
  font-weight: bolder;
}
.login-register .register-btn {
  font-size: 20px;

  color: blue;
  font-weight: bold;
}
.info-container {
  display: flex;
  flex-direction: column;
}

.info-container label {
  font-weight: bolder;
}

.forgot-password {
  text-align: end;
  color: blue;
  font-weight: bold;
}

.info-container input {
  border: 2px solid rgb(236, 231, 231);
  margin: 10px 0px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.login-btn {
  background-color: blue;
  color: white;
  height: 40px;
  border-radius: 15px;
  font-weight: bolder;
  margin: 20px 0px;
}

.use-otp {
  font-size: 20px;
  color: blue;
  text-align: center;
  font-weight: 600;
}

.or-para {
  margin: 20px 0px;
  color: grey;
  text-align: center;
}

.google-signIn {
  border: 2px solid blue;
  border-radius: 15px;
  height: 40px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: blue;
}
.google-signIn img {
  height: 30px;
  margin-right: 10px;
}

.hide-login-page {
  display: none;
}
