
.SimilarJobsParentContainer {
  height: 100%;
  width: 700px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 93px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SimilarJobsMainContainer {
  height: 100px;
  width: 650px;

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}
.SimilarJobsMainTXT {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 25px;
  margin-left: 4px;
}

.SimilarJobsRatingContainer {
  width: 260px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 15px;
}
.WiproTXT {
  font-weight: 500;
  color: #474d6a;

  
}
.SimilarJobsRatingTXT {
  color: gray;
  font-size: 14px;
  margin-top: 2px;
}
.SimilarJobsCityContainer {
  

width: 130px;
  display: flex;
  margin-left: 4.5px;
 
}
.LocationSymbol{
  font-size: 15px;
}

.MumbaiTXT {
margin-left: 2px;
  margin-top: -3px;
  font-size: 14px;
  color: #0e0e0e;

}
.SimilarJobsFooterContainer {
  width: 650px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.FooterContainerTXT {
  font-size: 12px;
}
.FooterContainerPostedTXT {
  font-size: x-small;
  font-weight: 400;
}
.FooterContainerMainTXT {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -10px;
  font-weight: 900;
}
.FooterContainersecondTXT {
  width: 13 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot{
  margin-bottom: 8px;
  font-weight: bold;
}
