.listpage-rightpage{
    display: flex;
    flex-direction: row;
}
.aboutcontainer{
    display: flex;
    flex-direction: row;
}
.listpage-rightpagetwo{
    display: flex;
    flex-direction: row;   
}